body{ background-color: #ffffff; color: #191970;
}
h1 { background-color:#191970; color: #f7fcf8;
    background-position: 60px 60px;
    padding: 20px;
    margin-bottom: 0;
    font-size: 250%
}
nav { background-color: #aeaed4;
    padding: 5px;
}
h2 { color: #a997d4;
}
dt {color: #2d81c0;
}
