body { background-color: #90c7e3;
    background-image: linear-gradient(to bottom, #ffffff, #90c7e3);

}
#wrapper{background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px #333333;
    width: 80%;
    min-width: 700px;

}
h1 {
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 25px;
    font-size: 280%;
    color: #fdffff;
    text-align: center;
}
nav {background-color: #ffffff;
    border-bottom-color: #55c04a;
    padding: 10px;
    text-align: center;
}
h2{ font-family: "Times New Roman",Times,Baskerville,Georgia,serif;
    color: #3c72ff;
    text-shadow: 3px 3px 3px gray;
}
dt { font-family: "Arial",Arial,sans-serif;
    color: #0c0a09;
}
footer {text-align: center
}